$colorJometryPrimary: #0072B2;
$colorJometrySecondary: #C4E0F9;

$font-family-base: Roboto, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$sectionGap: 3rem;

$primary: $colorJometryPrimary;
$secondary: $colorJometrySecondary;

@import 'bootstrap/scss/bootstrap';

a:link, a:visited, a:hover {
  color: inherit;
  text-decoration-style: dashed;
}


.component-body {
  margin: 0 auto;
  width: min(900px, 90vw);
  text-align: center;
}

.section {
  margin-bottom: 2rem;
}

.section-header {
  background-color: #{$colorJometryPrimary};
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.subsection {
  margin-bottom: 0.5rem;
}

.subsection-header {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.option-groups {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #{$colorJometrySecondary};
  max-width: 75%;
  margin: 0 auto;
  border-radius: 15px;
}

.option-groups {
  padding: 0.5em 0.25em;
}

.option-groups > div {
  margin: auto 0.5em;
  border-radius: 15px;
}

.section {
  margin-top: #{$sectionGap};
  text-align: center;
}

.section .subsection {
  padding: 1em 0 0 0;
}

.overview {
  text-align: center;
  background-color: #{$colorJometryPrimary};
  color: white;
  border-radius: 15px;
}

.overview .value {
  font-size: 1.5rem;
}

.overview .caption {
  font-size: 1rem;
}

.overview .caption-stack {
  margin: auto auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.overview .overview-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.overview .overview-row > div {
  margin: 0.5rem 0.5rem;
}

.overview .overview-window {
  background-color: white;
  color: black;
  padding: 0.5em 0.5em;
  border-radius: 15px;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}
