@import './variables.scss';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap';

[data-bs-theme="popculture"] {
  --bs-primary: #{$colorPopCulturePrimary};
  --bs-primary-rgb: #{to-rgb($colorPopCulturePrimary)};
  --bs-secondary: #{$colorPopCultureSecondary};
  --bs-secondary-rgb: #{to-rgb($colorPopCultureSecondary)};
  --bs-primary-border-subtle: #{$colorPopCulturePrimary};
  --bs-alert-bg: #{$colorPopCultureSecondary};

  .btn {
    --bs-btn-bg: #{$colorPopCulturePrimary};
    --bs-btn-border-color: #{$colorPopCulturePrimary};
    --bs-btn-hover-bg: #{darken($colorPopCulturePrimary, 5%)};
    --bs-btn-hover-border-color: #{darken($colorPopCulturePrimary, 5%)};
    --bs-btn-active-bg: #{darken($colorPopCulturePrimary, 20%)};
    --bs-btn-active-border-color: #{darken($colorPopCulturePrimary, 20%)};
  }

}

a:link, a:visited, a:hover {
  color: inherit;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
}


.component-body {
  margin: 0 auto;
  width: min(900px, 90vw);
  text-align: center;
}

.section {
  margin-bottom: 2rem;
}

.section-header {
  background-color: var(--bs-primary);
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.subsection {
  margin-bottom: 0.5rem;
}

.subsection-header {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.option-groups {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--bs-secondary);
  max-width: 75%;
  margin: 0 auto;
  border-radius: 15px;
}

.option-groups {
  padding: 0.5em 0.25em;
}

.option-groups > div {
  margin: auto 0.5em;
  border-radius: 15px;
}

.section {
  margin-top: #{$sectionGap};
  text-align: center;
}

.section .subsection {
  padding: 1em 0 0 0;
}

.overview {
  text-align: center;
  background-color: var(--bs-primary);
  color: white;
  border-radius: 15px;
}

.overview .value {
  font-size: 1.5rem;
}

.overview .caption {
  font-size: 1rem;
}

.overview .caption-stack {
  margin: auto auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.overview .overview-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;

  flex-grow: 1;
}

.overview .overview-row > div {
  margin: 0.5rem 0.5rem;
}

.overview .overview-window {
  background-color: white;
  color: black;
  padding: 0.25em 0.5em;
  border-radius: 15px;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  max-width: 100%;
}
